<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=2.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Print Stickers</title>
  <link rel="icon" type="image/svg+xml" href="favicon.svg">
  <link rel="icon" type="image/png" href="favicon.png">
  <link rel="stylesheet" href="./css/A4.css">
  <!-- Custom CSS -->
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
    * {
        font-family: Montserrat;
    }
    body {
        margin: 10px;
        padding: 10px;
    }
  </style>
</head>

<body style="--bleeding: 0.5cm;--margin: 1cm;">
  <div class="page">
    <img src="bitcoin-lightning-accepted.png" style="width: 90%; height: auto" >
    <table style="width: 80%; padding: 0px; text-align: middle;" >
      <tr>
        <th>
          <h1>Nosotros aceptamos</h1>
          <h1>Nous acceptons</h1>
          <h1>Wir akzeptieren</h1>
          <h1>Мы принимаем</h1>
        </th>
        <th><img src="{{src}}" style="width: 160%; height: auto"></th>
      </tr>
    </table>
    <br>
    <br>
    <br>
    <img src="bitcoin-lightning-accepted.png" style="width: 90%; height: auto" >
    <table style="width: 80%; padding: 0px; text-align: middle;" >
      <tr>
        <th>
          <h1>Nosotros aceptamos</h1>
          <h1>Nous acceptons</h1>
          <h1>Wir akzeptieren</h1>
          <h1>Мы принимаем</h1>
        </th>
        <th><img src="{{src}}" style="width: 160%; height: auto"></th>
      </tr>
    </table>
  </div>
</body>

</html>
