<!DOCTYPE html>
<html lang="{{currentLocale}}">

<head>
  <meta charset="utf-8">
  <title>{{#i18n}}contact_form{{/i18n}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Icons for various devices -->
  <link rel="mask-icon" href="safari-pinned-tab.svg" color="#ffffff">
  <link rel="alternate icon" type="image/png" href="favicon.png">
  <link rel="icon" type="image/svg+xml" href="favicon.svg">
  <link rel="apple-touch-icon" sizes="180x180" href="favicon-180x180.png">
  <link rel="fluid-icon" href="favicon-512x512.png" title="LNPOS">
  
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- Custom CSS -->
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
    * {
        font-family: Montserrat;
    }
    body {
        margin: 10px;
        padding: 10px;
    }

    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    input[type=number] {
      -moz-appearance: textfield;
    }
  </style>
</head>

<body>
  <div class="container">
    <h3 class="text-center">{{#i18n}}contact_form{{/i18n}}</h3>
    <hr>
    <form class="form" action="/contact" method="POST">
      <fieldset>
        <div class="form-group">
          <label for="email">{{#i18n}}user_name{{/i18n}}</label>
          <input type="email" class="form-control" id="email" name="email" autofocus required placeholder="{{#i18n}}user_name_explain{{/i18n}}">
        </div>
        <div class="form-group">
          <label for="message">{{#i18n}}message{{/i18n}}</label>
          <textarea class="form-control" id="message" rows="3" name="message" required placeholder="{{#i18n}}message{{/i18n}}"></textarea>  
        </div>
        {{{captcha.data}}}
        <br>
        <br>
        <div class="form-group">
          <input class="form-control" type ="text" id = 'captchaInput' name="captchaInput" required placeholder="{{#i18n}}enter_captcha{{/i18n}}">
        </div>
        <input type="hidden" id="captchaText" name="captchaText" value="{{captcha.text}}">
        <input type="hidden" id="lang" name="lang" value="{{currentLocale}}">
        <button type="submit" class="btn btn-primary mb-2">{{#i18n}}send{{/i18n}}</button>
      </fieldset>
    </form>
  </div>
</body>
</html>
