<!DOCTYPE html>
<html lang="{{currentLocale}}">

<head>
  <meta charset="utf-8">
  <title>{{#i18n}}lnpos{{/i18n}}</title>
  <meta name="description" content="{{#i18n}}description{{/i18n}}">
  <meta name="yandex-verification" content="3926130c44639c7d" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" type="text/css" href="/css/style.css"> -->
  <link rel="icon" type="image/svg+xml" href="favicon.svg">
  <link rel="icon" type="image/png" href="favicon.png">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- Custom CSS -->
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
    * {
        font-family: Montserrat;
    }
    body {
        margin: 10px;
        padding: 10px;
    }
    .topnav {
      overflow: hidden;
      background-color: #333;
    }

    .topnav a {
      float: left;
      color: #f2f2f2;
      text-align: center;
      padding: 10px 10px;
      text-decoration: none;
      font-size: 15px;
    }

    .topnav a:hover {
      background-color: #f7931a;
      color: black;
    }

    .topnav a.active {
      background-color: #f7931a;
      color: white;
    }

    input { font-size: 18px; }
  </style>
</head>

<body>
  <div class="container">
    <center>
    <a href="en"><img src="en.png" alt="EN"></a>  
    <a href="es"><img src="es.png" alt="ES"></a>
    <a href="ru"><img src="ru.png" alt="RU"></a>
    </center>
    <br>
    <h1 class="text-center">{{#i18n}}lnpos{{/i18n}}</h1>
    <h4 class="text-center" style="color:#f7931a">{{#i18n}}slogan{{/i18n}}</h4>
    <br>
    <center><a href="/VSWxK7V1sw4?lang={{currentLocale}}&memo=Donation"><img src="bitcoin-lightning-accepted.png" style="width: 300px; max-width: 100%; height: auto"></a></center>
    <br>
    <div class="topnav">
      <a href="#"><img src="favicon.svg" style="width: auto; height:20px"></a>
      <a href="#affiliate">{{#i18n}}_Affiliates{{/i18n}}</a>
      <a href="#help">{{#i18n}}_Help{{/i18n}}</a>
      <a href="/login?lang={{currentLocale}}">{{#i18n}}_login{{/i18n}}</a>
    </div>
    
    <br>
    <p>{{#i18n}}intro{{/i18n}}</p>
    <center><img src="LNPOS.png" style="max-width: 100%; height: auto"></center>
    <br>
    <p>{{#i18n}}intro2{{/i18n}}</p>
    <br>
    <h2 class="text-center">{{#i18n}}signup{{/i18n}}</h2>
    <ol>
      <li>{{#i18n}}step_1{{/i18n}} <a href="https://www.bitfinex.com/sign-up?refcode={{refCode}}" target="_blank">{{#i18n}}link{{/i18n}}</a> {{#i18n}}step_1a{{/i18n}}</li>
      <br>
      <li>{{#i18n}}step_2{{/i18n}}</li>
    </ol>
    <center><img src="bitfinex_key_permissions_{{currentLocale}}.png" style="max-width:100%; height: auto"></center>
    <br>
    <ol start = '3'>
      <li>{{#i18n}}step_3{{/i18n}}</li>
      <br>
      <li>{{#i18n}}step_4{{/i18n}}</li>
    </ol>
    <form class="form" autocomplete="off" action="/add" method="POST">
      <fieldset>
        <input class="form-control" type ="text" id = 'apiKey' name="apiKey" size="50" placeholder="{{#i18n}}api_key{{/i18n}}" required>
        <br>
        <input class="form-control" type="text" id = "apiSecret" name="apiSecret" size="50"  placeholder="{{#i18n}}api_secret{{/i18n}}" required>
        <br>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="currencyFrom"> {{#i18n}}quote_cur_list{{/i18n}}: </label>
            <select class="form-control" id="currencyFrom" name="currencyFrom" required>
              <option value="EUR"> EUR </option>  
              <option value="GBP"> GBP </option>  
              <option value="USD"> USD </option>  
              <option value="JPY"> JPY </option>
              <option value="CNH"> CNH </option>
              <option value="MXN"> MXN </option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label for="currencyTo"> {{#i18n}}receive_cur_list{{/i18n}}: </label>
            <select class="form-control" id="currencyTo" name="currencyTo" required>
              <option value="EUR"> EUR </option>  
              <option value="GBP"> GBP </option>  
              <option value="USD"> USD </option>  
              <option value="RUB"> JPY </option>
              <option value="BTC"> BTC </option>
              <option value="UST"> USDt </option>
              <option value="EUT"> EURt </option>
              <option value="CNHT"> CNHt </option>
              <option value="MXNT"> MXNt </option>
            </select>
          </div>
        </div>
        <input type="hidden" id="lang" name="lang" value="{{currentLocale}}">
        <input type="hidden" id="exchange" name="exchange" value="Bitfinex">
        <center>
          <button class="btn btn-primary" type ="submit">{{#i18n}}register_key{{/i18n}}</button>
        </center>      
      </fieldset>
    </form>
    <br>
    <center><a href="#"><img src="bitcoin.png" style="width: 50px; height: auto"></a></center>
    <hr>
    <a id="affiliate"></a>
    <br>
    <h2 class="text-center">{{#i18n}}affiliate{{/i18n}}</h2>
    <br>
    <p>{{#i18n}}influencer{{/i18n}}</p>
    <ol>
      <li>{{#i18n}}step_1{{/i18n}} <a href="https://www.bitfinex.com/sign-up?refcode={{refCode}}" target="_blank">{{#i18n}}link{{/i18n}}</a> {{#i18n}}step_1a{{/i18n}}</li>
      <br>
      <li>{{#i18n}}step_2af{{/i18n}}</li>
      <br>
      <li>{{#i18n}}step_3af{{/i18n}}</li>
    </ol>
    <form class="form" action="/ref" method="POST">
      <fieldset>
        <center>
        <input class="form-control" type ="text" id = 'refCode' name="refCode"  placeholder="Referral Code" required>
        <input type="hidden" id="lang" name="lang" value="{{currentLocale}}">
        <br><br>
        <button class="btn btn-primary" type ="submit">{{#i18n}}generate_ref{{/i18n}}</button>
        </center>
      </fieldset>
    </form>
    <br>
    <center><a href="#"><img src="bitcoin.png" style="width: 50px; height: auto" alt=""></a></center>
    <hr>
    <a id="help"></a>
    <br>
    <h2 class="text-center">{{#i18n}}faq{{/i18n}}</h2>
    <br>
    <ol>
      <li>{{#i18n}}q1{{/i18n}}</li>
      <br>
      <li>{{#i18n}}q2{{/i18n}}</li>
      <br>
      <li>{{#i18n}}q3{{/i18n}}</li>
      <br>
      <li>{{#i18n}}q4{{/i18n}}</li>
      <br>
      <li>{{#i18n}}q5{{/i18n}}</li>
    </ol>
    <br>
    {{#i18n}}help{{/i18n}}
    <br>
    <hr>
    <br>
    {{#i18n}}about{{/i18n}}{{currentLocale}}{{#i18n}}about2{{/i18n}}
    <br>
    <br>
    <center><a href="https://github.com/Impa10r/lnpos" target="_blank"><img src="github.png" /></a></center>
  </div>
</body>
</html>