<!DOCTYPE html>
<html lang="{{currentLocale}}">

<head>
  <meta charset="utf-8">
  <title>Payment Link</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Icons for various devices -->
  <link rel="mask-icon" href="safari-pinned-tab.svg" color="#ffffff">
  <link rel="alternate icon" type="image/png" href="favicon.png">
  <link rel="icon" type="image/svg+xml" href="favicon.svg">
  <link rel="apple-touch-icon" sizes="180x180" href="favicon-180x180.png">
  <link rel="fluid-icon" href="favicon-512x512.png" title="LNPOS">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- Custom CSS -->
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
    * {
        font-family: Montserrat;
    }
    body {
        margin: 10px;
        padding: 10px;
    }
    div.b {
      width: 400px; 
      max-width: 90%;
      word-wrap: break-word;
    }
  </style>
</head>

<body>

<body>
  <div class="container">
    <center>
      {{#i18n}}remote_payment_link{{/i18n}}
      <br>
      <br>
      <div class="b"><a href="{{url}}" target="_blank">{{desc}}</a></div>
      <br>
      <br>
      {{#i18n}}remote_payment_link2{{/i18n}}
      <br>
      <br>
      <div class="b"><a href="{{url}}?status" target="_blank">{{desc}}?status</a></div>
    </center>
</div>

</body>
</html>