<!DOCTYPE html>
<html lang="{{currentLocale}}">

<head>
  <meta charset="utf-8">
  <title>Referral Link</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
  <link rel="manifest" href="site.webmanifest">
  <link rel="mask-icon" href="safari-pinned-tab.svg" color="#5bbad5">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- Custom CSS -->
  <style>
      @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
      * {
          font-family: Montserrat;
      }
      body {
          margin: 10px;
          padding: 10px;
      }
      div.b {
        width: 400px; 
        max-width: 90%;
        word-wrap: break-word;
      }
  </style>
</head>

<body>
  <div class="container">
    <h2 class="text-center">{{#i18n}}ref_link{{/i18n}}</h2>
    <hr>
    <center>
      <br>
      <p>{{#i18n}}new_referral_link{{/i18n}}</p>
      <div class="b"><a href="{{url}}">{{desc}}</a></div>
      <br>
      <img src={{src}} alt="QR Code Image">
    </center>
  </div>
</body>
</html>