<!DOCTYPE html>
<html lang="{{currentLocale}}">

<head>
  <meta charset="utf-8">
  <title>Referral Link</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Icons for various devices -->
  <link rel="mask-icon" href="safari-pinned-tab.svg" color="#ffffff">
  <link rel="alternate icon" type="image/png" href="favicon.png">
  <link rel="icon" type="image/svg+xml" href="favicon.svg">
  <link rel="apple-touch-icon" sizes="180x180" href="favicon-180x180.png">
  <link rel="fluid-icon" href="favicon-512x512.png" title="LNPOS">
  
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- Custom CSS -->
  <style>
      @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
      * {
          font-family: Montserrat;
      }
      body {
          margin: 10px;
          padding: 10px;
      }
      div.b {
        width: 400px; 
        max-width: 90%;
        word-wrap: break-word;
      }
  </style>
</head>

<body>
  <div class="container">
    <center>
      <br>
      <p>{{#i18n}}new_referral_link{{/i18n}}</p>
      <div class="b"><a href="{{url}}">{{desc}}</a></div>
      <br>
      <a href="https://twitter.com/share?url={{url}}"><img src="twitter_logo.png" alt="Twitter"></a>
      <a href="https://www.facebook.com/sharer/sharer.php?u={{url}}"><img src="facebook_logo.png" alt="Facebook"></a>
      <a href="https://reddit.com/submit?url={{url}}&title=LNPOS"><img src="reddit_logo.png" alt="Reddit"></a>
      <a href="https://www.linkedin.com/shareArticle?url={{url}}&title=LNPOS"><img src="linkedin_logo.png" alt="LinkedIn"></a>
      <a href="https://t.me/share/url?url={{url}}"><img src="telegram_logo.png" alt="WhatsApp"></a>
      <a href="whatsapp://send?text={{url}}"><img src="whatsapp_logo.png" alt="WhatsApp"></a>
      <a href="mailto:?subject=LNPOS&body={{url}}"><img src="email_logo.png" alt="Email"></a>
    </center>
  </div>
</body>
</html>