<!DOCTYPE html>
<html lang="{{currentLocale}}">

<head>
  <meta charset="utf-8">
  <title>{{#i18n}}report{{/i18n}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Icons for various devices -->
  <link rel="mask-icon" href="safari-pinned-tab.svg" color="#ffffff">
  <link rel="alternate icon" type="image/png" href="favicon.png">
  <link rel="icon" type="image/svg+xml" href="favicon.svg">
  <link rel="apple-touch-icon" sizes="180x180" href="favicon-180x180.png">
  <link rel="fluid-icon" href="favicon-512x512.png" title="LNPOS">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- Custom CSS -->
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
    * {
        font-family: Montserrat;
    }
    body {
        margin: 10px;
        padding: 10px;
    }

    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    input[type=number] {
      -moz-appearance: textfield;
    }
  </style>
</head>

<body>
  <div class="container">
    <h3 class="text-center">{{#i18n}}report{{/i18n}}</h3>
    <hr>
    <div class="row">
      <div class="col-md-auto">
        <form class="form-inline" autocomplete="off" action="/report" method="POST">
          <div class="form-group mr-3">
            <label for="fromDate" class="my-1 mr-2">{{#i18n}}from{{/i18n}}</label>
            <input type="date" class="form-control" id="fromDate" name="fromDate" value="{{fromDate}}" maxlength="10">
          </div>
          <div class="form-group mr-3">
            <label for="toDate" class="my-1 mr-2">{{#i18n}}to{{/i18n}}</label>
            <input type="date" class="form-control" id="toDate" name="toDate" value="{{toDate}}" maxlength="10">
          </div>
          <div class="form-group">
            <label for="limit" class="my-1 mr-2">{{#i18n}}limit{{/i18n}}</label>
            <input type="number" class="form-control" id="limit" name="limit" value="{{limit}}" style="width: 5em">
          </div>
          <div class="form-group ml-4 mr-4">
            <input class="form-check-input my-1 mr-2" type="checkbox" {{paidOnly}} name="paidOnly" id="paidOnly">
            <label class="form-check-label" for="paidOnly">
              {{#i18n}}paid_only{{/i18n}}
            </label>
          </div>
          <input type="hidden" id="lang" name="lang" value="{{currentLocale}}">
          <input type="hidden" id="authToken" name="authToken" value="{{authToken}}">
          <input type="hidden" id="userName" name="userName" value="{{userName}}">
          <button type="submit" class="btn btn-primary">{{#i18n}}refresh{{/i18n}}</button>
        </form>
      </div>
      <div class="col-sm">
        <a href="{{authToken}}?fromDate={{fromDate}}&toDate={{toDate}}&limit={{limit}}&paidOnly={{paidOnly}}"><img src="csv.webp" alt="CSV" style="width: auto; height: 40px" align="right"></a>
      </div>
    </div>
    <br>
    {{{table}}}
  </div>
</body>
</html>
