<!DOCTYPE html>
<html lang="{{currentLocale}}">

<head>
  <meta charset="utf-8">
  <title>{{record.payee}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- Icons for various devices -->
  <link rel="mask-icon" href="safari-pinned-tab.svg" color="#ffffff">
  <link rel="alternate icon" type="image/png" href="favicon.png">
  <link rel="icon" type="image/svg+xml" href="favicon.svg">
  <link rel="apple-touch-icon" sizes="180x180" href="favicon-180x180.png">
  <link rel="fluid-icon" href="favicon-512x512.png" title="LNPOS">
 
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- Custom CSS -->
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
    * {
        font-family: Montserrat;
    }
    body {
        margin: 10px;
        padding: 10px;
    }

    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    input[type=number] {
      -moz-appearance: textfield;
    }
  </style>
</head>

<body>
  <div class="container">
    <center>
      {{#i18n}}payee{{/i18n}}:
      <h4>{{record.payee}}</h4>
      <br>
      <form class="form" autocomplete="off" action="/pay" method="POST">
        <fieldset>
          <div class="form-group">
            <input class="form-control form-control-lg" type="number" step="0.01" id = "amountFiat" placeholder = "{{#i18n}}pay_currency{{/i18n}} {{record.currencyFrom}}" name="amountFiat" {{{amountOptions}}} required autofocus>
            <br>
            <input class="form-control form-control-lg" type="text" id = 'memo' placeholder = "{{#i18n}}memo{{/i18n}}" name="memo" {{{memoOptions}}}>
            <br>
            <input type="hidden" id="currencyFrom" name="currencyFrom" value="{{record.currencyFrom}}">
            <input type="hidden" id="lang" name="lang" value="{{currentLocale}}">
            <input type="hidden" id="invoiceId" name="invoiceId" value="{{invoiceId}}">
            <input type="hidden" id="timeCreated" name="timeCreated" value="{{timeCreated}}">
            <input type="hidden" id="userName" name="userName" value="{{record.userName}}">
            <input type="hidden" id="userId" name="userId" value="{{record.id}}">
            <button class="btn btn-primary" name="button" value="invoice" type ="submit"{{{primaryButtonOptions}}}>{{#i18n}}generate_invoice{{/i18n}}</button>
            <p class="text-center" {{{primaryLabelOptions}}}>{{#i18n}}already_paid{{/i18n}}</p>
            <br><br>
            <h4 class="text-center" {{{secondaryLabelOptions}}}>{{#i18n}}remote_request{{/i18n}}</h4>
            <p class="text-center" {{{secondaryLabelOptions}}}>{{#i18n}}pay_currency{{/i18n}} {{record.currencyFrom}}</p>
            <button class="btn btn-secondary" name="button" value="link" type="submit" {{{secondaryButtonOptions}}}>{{#i18n}}generate_link{{/i18n}}</button>
            <br><br>
            <button class="btn btn-secondary" name="button" value="pricetag" type="submit" {{{secondaryButtonOptions}}}>{{#i18n}}generate_pricetag{{/i18n}}</button>
          </div>
        </fieldset>
      </form>
    </center>
  </div>
</body>
</html>
