@charset "UTF-8";

body {
 text-size-adjust: 100%;
 -moz-text-size-adjust: 100%;
 -ms-text-size-adjust: 100%;
 -webkit-text-size-adjust: 100%;
/*
 background-color: #f1f2f4;
 background-color: #f6fcff;
 background-color: #fbfbfb;
*/ 
 background-color: #fff;
 color: #555;
 font-family: "Open Sans", "segoe ui", verdana, "PT Sans", arial, sans-serif;
 font-size: 1.05em;
 margin: 0 auto 10px auto;
 min-width: 750px;
 line-height: 1.6;
}

/*
@media (min-width: 501px) {
 body { min-width:960px; }
}
*/

.onelinetext {
 overflow: hidden;
 white-space: nowrap;
 text-overflow: ellipsis;
} 

/* START: Testimonial section */
img.tquote-r { vertical-align: text-top; }
img.timage { border: 1px solid rgb(201,178,142); border-radius: 3px; padding: 3px; float: left; margin-bottom: 1.1em; margin-right: 1.1em; }

div.hoz_scroll { display: block; overflow-x: auto; }

div.testimonialsection { width: 80%; }

div.testimonials {
 margin: 2em auto 1em;
 text-align: center;
 width: 100%;
}

.quote-box {
 position: relative;
 width: 30%;
 border-radius: .4em;
 padding-bottom: .7em;
 text-align: center;
 margin: 1em .5em;
}

div.testimonial {
 break-inside: avoid;
 -webkit-column-break-inside: avoid; /* works in Chrome */
/*  display: inline-block; width: 100%; */ /* workaround for poor break-inside support - causes problem in IE9 */
 color: navy; background: transparent;
}

p.smallnote {
 font-size: smaller;
 border: 1px solid #ddd;
 border-left: 3px solid green;
 padding: .5em;
 color: #111;
 background-color: #fbfbfb;
}

p.smallnote:before {
 font-weight: bold;
 content: "NOTE: ";
}

p.testimonial { color: #004411; background: transparent; }

p.testimonialsmall, blockquote.testimonial { color: #004411; background: transparent; font-size: small; }

span.testimonial { color: navy; background: transparent; }

span.testimonialauthor { color: #111; background: transparent; font-weight: bold; }

div.testimonialbox, p.testimonialbox {
 background-color: #EfEfEf;
 border-bottom: #336699 1px solid;
 border-color: #336699;
 border-left: #336699 1px solid;
 border-radius: .6em;
 border-right: #336699 1px solid;
 border-style: solid;
 border-top: #336699 1px solid;
 color: #004411;
 padding: 14px;
}
/* END: Testimonial section */

p.bigheadline { text-align: center; color: #555; margin: 0 0 .3em 0; font-size: 1.7em; font-size:clamp(.9rem,.4rem + 1.5vw,1.7rem); }

p.b_links { line-height: 2.7; }

a.b_link_small, a.b_link_small:link {
 border-radius: .4em;
 background: #2e7a00;
 border: none;
 box-shadow: 0 0 10px 3px #ccc;
 color: white;
 font-size: small;
 font-weight: normal;
 padding: .45em .8em .45em;
 text-decoration: none;
 white-space: nowrap;
}

a.b_link_small:visited {
 background: #2e7a00;
 color: white;
}

td a.b_link_small:link {
 padding: .2em .8em .4em;
}

input { font-size: 1em; }

a.b_link, a.b_link:link, input[type=submit], input[type=reset], input[type=button], button.button {
 border-radius: .4em;
 background-color: #2e7a00;
 border: none;
 box-shadow: 0 0 10px 3px #ccc;
 color: white;
 cursor: pointer;
 font-size: medium;
 font-weight: normal;
 margin: .2em .1em;
 padding: .4em 1.2em .45em;
 text-decoration: none;
 transition: background .15s ease-out;
 white-space: nowrap;
}

input[type=submit] {
 padding: .5em 1.5em .6em;
}

a.b_link:visited {
 background-color: #2e7a00;
 color: white;
}

a.b_link:link:active, a.b_link:visited:active,
a.b_link:link:focus, a.b_link:visited:focus,
a.b_link:link:hover, a.b_link:visited:hover,
a.b_link_small:link:active, a.b_link_small:visited:active,
a.b_link_small:link:focus, a.b_link_small:visited:focus,
a.b_link_small:link:hover, a.b_link_small:visited:hover,
input[type=submit]:focus, input[type=submit]:hover,
input[type=reset]:focus, input[type=reset]:hover,
input[type=button]:focus, input[type=button]:hover,
button.button:focus, button.button:hover
{
 background: #86b60b;
 color: white;
 cursor: pointer;
}

header, nav, footer, article { display: block; }

div.buttonicons { margin: .5em; text-align: center; }
div.buttonicons img { padding: 5px; }

div.main {
 margin: 0 auto 0 auto;
 max-width: 68em;
 max-height: 1000000px; /* stops Android font boosting */
}

main, div.mainbody {
 background-color: white;
/* border-left: #E0E0E0 solid 1px;
 border-radius: .3em;
 border: 1px solid #eee;
*/
 padding: .1em 1.5em .5em;
 margin-left: .6em;
 margin-right: .6em;
 margin-top: 1em;
}

.box, .errorbox, .successbox, .highlightbox {
 border: #eee 1px solid;
 color: #444;
 background: #fdfdfd;
 clear: both;
 margin: 1.5em auto 1.5em auto;
 max-width: 90%;
}

.box {
 background: hsl(193,100%,98%);
 border-left: #00bcf2 10px solid;
 padding: 1em;
}

.errorbox, .successbox {
 font-size: 1.3em;
 padding: .5em;
}

.highlightbox {
 border: #eee 1px solid;
 border-left: #ffea00 10px solid;
 background-color: hsl(55,100%,97%);
 padding: .6em;
}

.errorbox {
 background: hsl(0,100%,98%);
 border-left:  red 10px solid;
}

.nowrap { white-space: nowrap; }

.successbox {
 background: hsl(120,100%,98%);
 border-left: green 10px solid;
}

.rightbox {
 background: #fff;
 border: #dfdfdf 1px solid;
 border-top: #9acfdb solid 5px;
 box-shadow: 0 0 .5em #ccc;
 -moz-box-shadow: 0 0 .5em #ccc;
 clear: right;
 color: #444444;
 float: right;
 font-size: .95em;
 margin: 1em 0 2em 2em;
 max-width: 23em;
 padding: 14px;
 width: 40%;
 line-height: 1.5;
}

.rightbox ul {
 -moz-padding-start: 2em;
 -webkit-padding-start: 2em;
/* color: navy; */
}

.rightbox.narrow { max-width: 19em; }
.rightbox.extranarrow { max-width: 14em; }

img { border: none; max-width: 100%; height: auto; }

img.boxicon { margin-bottom: 5px; margin-right: 5px; vertical-align: middle; }

img.boxicon2 { float: left; margin: 0px 10px 8px 0px; }

img.mainaux { margin-bottom: 0px; margin-left: 30px; margin-top: 5px; }

img.maintitleimg { vertical-align: baseline; margin-right: .3em }

.floatright { border: none; clear: right; float: right; margin: 10px 0px 15px 25px; }

img.recimg { float: right; padding: .3em 0 1em 1em }

.formbox {
 background-color: #FFFFE1;
 /* border-color:#336699; */
 border-color: lightgrey;
 border-style: solid;
 border-width: 1px;
 color: #111;
 padding: 14px;
}

form hr { background-color: lightgrey; border: lightgrey 1px solid; margin: .9em auto .9em auto; }
form td { padding: .2em; }

strong { color: #111; }
a strong { color: inherit; }

.highlight2 strong { color: #fff; }

table { margin-bottom: .5em; }

table.topgraphics { margin-bottom: 0; }

table.form {
 background: #fffff3 repeat-x;
 border: #eee 1px solid;
 border-left: 10px yellow solid;
 clear: both;
 margin: 1em auto 1em auto;
 padding: .5em .5em .5em 1.2em;
 width: 90%;
}

table.form td.formtitle {
 font-weight: bold;
 padding: .2em 1em .2em;
 text-align: right;
}

.question {
 background-color: #DDDDFF;
 border-color: #336699;
 border-style: solid;
 border-width: 2px;
 color: #111;
 font-weight: bold;
 margin-top: 40px;
 padding: 5px;
 text-align: left;
}

.questionproperties { color: green; font-weight: bold; }

.highlight {
 clear: both;
 background-color: #ffffe3;
 border-radius: .3em;
/* box-shadow: 0 0 .2em #ccc;
 -moz-box-shadow: 0 0 .2em #ccc; */
 padding-left: .2em;
 padding-right: .2em;
}

.center {
 margin-left: auto;
 margin-right: auto;
}

.centertext {
 max-width: none;
 text-align: center;
}

p.highlight, p.note  {
 background: #ffffe3;
 border: #ccc 1px solid;
 clear: both;
 padding: .6em;
}

div.highlight  {
 background-color: #ffffe3;
 border-left: yellow .5em solid;
 margin-bottom: .5em;
 padding: .5em .5em .5em 1em;
}

.highlight2 {
/* background: #fcfcf3; */
/* border: #cdcdb1 1px solid; */
/* box-shadow: 0 0 .3em #ddd; */
 background: #1d578a; /* #1a0e70 #1d578a */
 color: white;
 padding: 8px 8px 8px 12px;
 font-size: 1.15em;
}

div.highlight2 ul { line-height: 1.7em; margin: .1em 0 .2em; padding-left: .5em; }
div.highlight2 li { display: inline; padding-right: .5em; }
div.highlight2 li:before { content:'\2022'; margin-right: 0.4em; }

a:link { padding: 0 .1em .1em .1em; }

a.yellowBack { background-color: yellow; color: #111; }

a:link:hover, a:link:focus, a:link:active,
a:visited:hover, a:visited:focus, a:visited:active { background-color: #2660ff; color: #fff; text-decoration: none; }

a:link:hover img.maintitle, a:link:focus img.maintitle, a:link:active img.maintitle,
a:visited:hover img.maintitle, a:visited:focus img.maintitle, a:visited:active img.maintitle { background-color: #fff; }

input[type=text], input[type=email], input[type=search], input[type=number], input[type=tel], select, textarea { background-color: white }
input[type=text]:focus, input[type=email]:focus, input[type=search]:focus, input[type=number]:focus, input[type=tel]:focus, select:focus { background-color: #F4F4FF }
textarea:focus { background-color: #F8F8FF }

/* input[type=submit],
 input[type=reset],
 input[type=button],  */
input[type=file] { font-weight: bold; height: 2.2em; }
/*
 input[type=text] {
  -moz-border-radius: .3em;
  font-family: consolas, monospace;
 }
*/

input.indent { margin-left: 15px; }

html {
 height: 101%;
 /* Always show a scrollbar for short pages - stops the jump when the scrollbar appears. non-IE browsers */
 margin-bottom: 5px;
}

li { margin-top: 0.5em; }

p { max-width: 55em; }

p.news { text-align: left; }

p.news span.headline { color: navy; }

.compname { color: #85a439; }

/*
span.bullet { color: green; font-size: 1.2em; }
.highlight2 span.bullet { color: white; font-size: 1.2em; padding-left: .4em; }
*/

span.bullet2 { color: gray; }

p.title {
 background: #ddddff;
 border-bottom: #1111aa 4px solid;
 border-left: #eeeeff 4px solid;
 border-right: #1111aa 4px solid;
 border-top: #eeeeff 4px solid;
 color: #000000;
 font-size: large;
 font-style: italic;
 font-weight: normal;
}

p.code, code, span.httpheader {
 color: darkgreen;
 font-family: consolas, monospace;
 white-space: pre-wrap;
}

p.countdowntimer {
 background-color: darkgreen;
 border-radius: .3em;
 color: white;
 font-size: larger;
 padding: .3em .5em;
 box-shadow: .2em .2em .3em #aaa;
 -moz-box-shadow: .2em .2em .3em #aaa;
}

p.ssdesc { text-align: center; margin: .75em auto 1em auto; max-width: 45em; }

figure {
 -webkit-margin-start: 1em; -webkit-margin-end: 1em;
}

figcaption { padding: .5em; background-color: #f7f7f7; margin-bottom: 3em; margin-top: 0; }
figcaption:last-of-type { margin-bottom: 1em; }

p.ss { clear: both; max-width: none; text-align: center; margin: 2em auto 1em auto; }

ul, ol { max-width: 50em; }

h2, h2.new {
 clear: left;
/* color: navy; */
 color: #245dc1;
 font-size: 1.2em;
 margin-top: 1.5em;
 font-weight: bold;
}

.rightbox h2 {
 color: #1D4A99;
/* color: #000080; */
}

 div.uh2new { margin-left: 2em; max-width: 50em; }

 h3 {
 font-size: large;
 font-weight: normal;
}

 h3.new {
 color: #111;
 font-size: medium;
 font-weight: bold;
 margin-top: 1em;
}

h1 { font-size: 1.5em; /* text-shadow: .1em .1em .1em #d8d8d8; */ margin-bottom: .5em; }

h3 { font-size: 1.3em; }

h1, h3 {
 color: navy;
 font-weight: bold;
 text-align: left;
}


h1.title, h3.title { clear: left; margin-top: 1.5em; }

dt {
 color: #000080;
 font-size: medium;
 font-weight: bold;
}

hr {
 border: 0;
 height: 1px;
 background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
 margin: 1.5em;
}

hr.bottom { margin-top: 10px; }

hr.ss, div.ss hr { margin-left: auto; margin-right: auto; width: 75%; }

/* start navigation */

div.menubar {
 background: #052994 url('/gif/menubarbg-3.gif') repeat-x;
 border: none;
 border-radius: .2em;
 box-shadow: .1em .2em .4em #aaaaaa;
 clear: both;
 color: #AAAAAA;
 margin: 0;
 padding: .4em;
 text-align: center;
}

div.menubar a { color: white; padding: .1em .6em .2em; }

div.bottommenu {
 background-color: #f7f7f7;
 border-top: #ddd solid 1px;
 border-bottom: #ddd solid 1px;
 box-shadow: .1em .2em .4em #ccc;
 -moz-box-shadow: .1em .2em .4em #ccc;
 clear: both;
 color: grey;
 font-size: .9em;
 font-weight: normal;
 margin: 1em 0;
 max-width: 100%;
 padding: .5em 0 1em;
 text-align: center;
}

div.bottommenu p { margin-bottom: .1em; margin-top: .1em; max-width: 100%; }

div.bottommenu p.rssfooter { font-size: .9em; }

div.bottommenu p.copyright small { font-size: .9em; }

div.bottommenu p.backtotop { margin-top: .9em; font-size: .8em; }

div.bottommenu a { text-decoration: none; }
div.bottommenu a:visited, div.bottommenu a:link { color: gray; }
div.bottommenu a:hover { background-color: #F4F4FF; color: #000099; }

nav.mainmenu {
 background: #052994 url('/gif/menubarbg-3.gif') repeat-x;
 border-radius: .2em;
 box-shadow: .1em .2em .4em #aaa;
 margin-left: auto; margin-right: auto; width: 97%;
 text-align: center;
 line-height: 1.5;
}

nav.mainmenu ul ul {
 display: none;
 width: auto;
}

nav.mainmenu ul li:hover > ul {
 display: block;
}

nav.mainmenu ul {
 list-style: none;
 position: relative;
 display: inline-table;
 background: #052994 url('/gif/menubarbg-3.gif') repeat-x;

 max-width: none;
 border: none;
 clear: both;
 margin-bottom: 0;
 margin-top: 0;
 padding: .2em 1.5em 0;
}

nav.mainmenu ul:after {
 content: ""; clear: both; display: block;
}

nav.mainmenu ul li {
 margin-top: 0;
 float: left;
 padding: .1em .6em 0em;
}

nav.mainmenu a:link {
 padding: .1em .4em;
}

nav.mainmenu ul li:hover a {
 color: #fff;
}

nav a {
 text-decoration: none;
}

nav.mainmenu ul li a {
 display: block; /* padding: 25px 40px; */
 color: #fff; text-decoration: none;
}

/* sub menus */

nav.mainmenu ul ul {
/* background: #5f6975; */
 border-radius: 0px; padding: .2em 0;
 position: absolute; top: 100%;
 text-align: left;
 min-width: 15em;
}

nav.mainmenu ul ul li {
 float: none;
 margin: 0;
 border-top: 1px solid #0634BF;
 border-bottom: 1px solid #031C66;
 position: relative;
}

/* sub-sub-menus */
nav.mainmenu ul ul ul {
 position: absolute; left: 100%; top:0;
}

/* end navigation */

table.topgraphics { margin-left: auto; margin-right: auto; }

table.toplayout { margin: .1em 0 0 0; border: none; padding: 0 }
table.toplayout td { padding: 3px; }
td.maintitle { width: 100%; font-size: 1.7em; font-weight: bold; text-align: center; }
img.maintitle { margin-top: .4em; }

div.mainheader {
 text-align: center;
 white-space: pre;
 margin: .1em 0 .1em 0;
}

span.topheading { /* new 2012-03-20 */
 box-shadow: .1em .1em .3em #CCCCCC;
 padding: .5em 1.5em;
 background: #f5f5f5 url('/png/th_bg.png') repeat-x;
 background-size: auto 100%;
 color: #444;
 border-radius: .4em;
 border: 1px #DDDDDD solid;
 font-size: 1.7em;
 font-weight: bold;
 margin: 0 0 0 1.5em;
 position: relative;
 top: -1.2em;
}

span.topheading span { color: green; }

@media (max-width: 70em) {
 span.topheading {
  padding: .5em 1em;
  font-size: 1.2em;
  top: -1.7em;
 }
 span.topheading img { display: none; }
}

table.alternate tr:nth-child(even) { background-color: #fff; color: #222; }
table.alternate tr:nth-child(odd) { background-color: #F2F2F2; color: #000; }
table.alternate tr:nth-child(1) { background-color: #1d578a; color: #fff; }
table.alternate th { font-weight: normal; }

/* both main table types */
table.standard, table.alternate {
 color: #000080;
 border: 1px solid #ddd;
 font-size: .9em;
 margin-top: 1.5em;
 caption-side: top;
/*  box-shadow: inset 0em 0em .3em #eee; */
}

table.standard caption, table.syntaxhelp caption, table.examplehelp caption, table.alternate caption {
 color: green;
 font-size: 1.2em;
 font-weight: bold;
 margin-bottom: .1em;
 text-align: left;
/*  white-space: nowrap; */
}

/* header cells for both main table types */
table.standard th, table.alternate th {
 font-size: 1.1em;
 padding: .3em .5em;
 text-align: center;
}

/* data cells for both main table types */
table.standard td, table.alternate td, #pricetable th {
 padding: .3em .4em .3em .4em;
 text-align: center;
}

th.standard, table.standard th {
 background: #daf0fd none;
}

td.standard, table.alternate {
 color: #000080;
 text-align: center;
}

td.standard, table.standard td {
 background-color: #f5f5f5;
}

table.standard td.leftcol, table.standard th[scope=row], table.alternate td.leftcol, table.alternate th[scope=row] {
 text-align: left;
 font-size: 1em;
 font-weight: normal;
}

table.standard td.leftcol, table.standard th[scope=row] {
 background: #f0f0f0;
}

table td.mbg {
 background-color: #EAEAEA;
 text-align: center;
 font-weight: bold;
}

td.cellhighlight {
 background: #feffad !important;
 border-radius: .4em;
 color: #000080;
 box-shadow: .1em .1em .5em #bbb;
 -moz-box-shadow: .1em .1em .5em #bbb;
 padding: .2em .4em .2em .4em;
 text-align: center;
}

div.maintopline {
 border-bottom: 5px #9acfdb solid;
 color: white;
 padding: .3em 0;
 text-align: center;
}

div.maintopline {
 background: #333333; /* Old browsers */
 background: -moz-linear-gradient(top, #555555 0%, #0e0e0e 100%); /* FF3.6+ */
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#555555), color-stop(100%,#0e0e0e)); /* Chrome,Safari4+ */
 background: -webkit-linear-gradient(top, #555555 0%,#0e0e0e 100%); /* Chrome10+,Safari5.1+ */
 background: -o-linear-gradient(top, #555555 0%,#0e0e0e 100%); /* Opera 11.10+ */
 background: -ms-linear-gradient(top, #555555 0%,#0e0e0e 100%); /* IE10+ */
 background: linear-gradient(to bottom, #555555 0%,#0e0e0e 100%); /* W3C */
/* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#555555', endColorstr='#0e0e0e',GradientType=0 ); / * IE6-9 */
}

span.toplineleft {
 float: left;
 margin-left: .5em;
 margin-right: .5em;
 position: absolute;
 left: .5em;
 font-weight: bold;
 color: #ddd;
}

@media all and (max-width: 1050px) {
 .menubarsearch { display: none; }
}

@media all and (min-width: 70em) {
 .menubarsearch form input[type=search] { width: 16em; }
}

.rss {
 background: #e07100;
 border: 1px solid;
 color: #FFF;
 margin: .2em;
 padding: .1em .1em .2em;
 text-decoration: none;
}


input:not([type=image]):not([type=submit]), select, textarea {
 border: 1px solid lightblue;
 font-family: consolas, monospace;
 padding: .4em;
}

/*
input:valid {
 border: 1px solid green;
}
input:not(:placeholder-shown):invalid {
 border: 1px solid red;
 color: red;
}
*/

span.formtitlesublines { font-size: smaller; }

span.generaltag {
 background: #EBF5FE;
 border: solid 1px #CCCCCC;
 color: #4D4D4D;
 font-weight: bold;
 margin-right: .5em;
 padding: .3em .6em;
 text-align: center;
}

/* keyboard shortcut */
span.shortcut {
 background-color: white;
 color: #008000;
 font-weight: bold;
}

/* HTML elements, attributes, snippets, & CSS properties */
span.htmlsnip, span.cssprop, span.csssnip {
 color: #E74C3C; background-color: white;
 font-family: consolas, monospace;
 font-size: .9em;
 border: 1px solid #ccc;
 padding: .1em .4em;
 white-space: nowrap;
}

span.cssprop, span.csssnip {
 color: navy;
}

/* menus, submenus, option pages, option tabs, command buttons */
span.menucommand, span.mc1 {
/* background-color: white; */
 color: #800000;
 font-weight: bold;
}

/* folder paths, filenames, registry names & paths */
span.folder, span.regpath {
 background-color: white;
 color: navy;
 font-family: consolas, monospace;
}

span.folder:before, span.folder:after { content: '"'; }

[class~=rightbox] ul {
 list-style-type: square;
}

p.seealsohelp a, a.seealsohelp { white-space: nowrap; padding: .1em .3em .2em }
p.seealsohelp { font-size: .95em; }

div.newfooter {
/* border-top: 20px solid #ddd; */
 border-top: 5px #d7f8ff solid;
 background: #fbfbfb;
 margin: .8em .8em;
 padding-bottom: .5em;
 clear: both;
}

table.newfooter {
 font-size: small;
 margin-left: auto;
 margin-right: auto;
 padding-top: 1em;
}

table.newfooter td, table.newfooter th {
 padding-left: 1.2em;
 padding-right: 1.2em;
 text-align: left;
 vertical-align: top;
}

div.newfooter a {
 text-decoration: none;
}

div.newfooter th {
 font-size: 1.1em;
 color: #555;
}

div.newfooter th span {
 border-bottom: 1px solid #bbf;
}

div.newfooter td a {
 color: #666;
}

p.copyright {
 color: #777;
 margin: auto auto;
 text-align: center;
}

.newbacktotop, p.backtotop2 {
 font-size: small;
 margin: .1em auto .1em;
}

p.backtotop2 { text-align: right; }

.addshadow { box-shadow: 5px 5px 8px #aaa; }
.addshadow2 { box-shadow: 0 0 10px 3px #ccc; }
.noshadow { box-shadow: none; }
.noborder { border: none; }

ul.reduceindent {
 margin-left: 1em;
 margin-right: 0px;
 padding-left: 1em;
 padding-right: 0px;
}

ul.reasonlist li { margin-bottom: 1.8em; }
span.reason { color: #2481BC; font-weight: bold; font-size: 1.1em; }

.liteintrotext { font-size: 1.2em; color: green; text-align: left; }

#homepagetable p.b_links { margin: 1.5em 0 1.5em; }

.mobileaux { display: none; }

.clicktoshow { cursor: pointer; }

iframe.youtube {
 border: 2px solid #1d578a; display: block; margin: 2em auto 2em auto;
 box-shadow: 5px 5px 15px #999;
 width: 100%; max-width: 800px; min-height: 425px
}

.blink_text {
animation:3s blinker linear 10;
-webkit-animation:3s blinker linear 10;
}

@-moz-keyframes blinker {  
 0% { opacity: 1.0; }
 20% { opacity: 0.1; }
 70% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
 0% { opacity: 1.0; }
 20% { opacity: 0.1; }
 70% { opacity: 1.0; }
}

@keyframes blinker {  
 0% { opacity: 1.0; }
 30% { opacity: 0.1; }
 70% { opacity: 1.0; }
}

@media (max-width: 800px) {
 .liteintrotext { font-size: 1em; }
 .mobileaux { display: block; }
 div.mobilefooter { text-align: center; font-size: .9em; line-height: 1.8em; }
 div.mobilefooter div { padding: .1em; }
 div.mobilefooter p { margin: .5em; }
 div.mobilefooter a { padding: .3em .8em .4em; }
 div.menubar.mobileaux { padding: .2em .1em .3em; margin: .5em .5em .1em; font-size: 1rem; font-size: clamp(1rem,.6rem + 1vw,1.2rem); box-shadow: none; line-height: 1.7em; }
 h1 { font-size: 1.3em; }
 h2, h2.new { font-size: 1.1em; }
 div.maintopline { display: none; }
 main, div.mainbody { border: none; padding: .3em; margin: 0 .4em; }
 div.uh2new { margin-left: 1em; max-width: 50em; }
 div.newfooter { margin: .5em .5em }
 div.testimonialsection { width: auto; }
 span.topheading { display: none; }
/* p.bigheadline { margin-top: .5em; font-size: 1.2em; } */
 div.highlight2 { font-size: .9em; }
 body { min-width: 320px; }
 .rsizeadjust { max-width:100%; height:auto; }
 img.maintitle { max-width:95%; height:auto; }
 .hideable { display: none !important; }
 .rightbox { float: none; width: auto; margin: 1em auto 1em; max-width: 80%; }
 .rightbox.narrow { max-width: 80%; }
 .errorbox, .successbox { font-size: 1.1em; }
 #homepagetable p.b_links { margin-bottom: 0; }
}

@media (max-width: 500px) {
 div.menubar, div.menubar.mobileaux { font-size: .85em; }
 div.mobilefooter { font-size: .85em; }
 div.mobilefooter a { padding: .3em .3em .4em; }
}